  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        
                        <li><a href="mailto:hola@norman.uy">hola@norman.uy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-inline quicklinks">
                        <li>Montevideo - Uruguay</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="tel:+59899371666">Tel. +598 99 371 666</a> / <a href="tel:+5989911664">+598 99 116 64</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </footer>
