<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand page-scroll" href="#page-top">
              <img src="{{site.baseurl}}img/logos/logo-120x120.png">
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="#portfolio">{{ t.header_portfolio }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{{ t.header_team }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{{ t.header_contact }}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                    {% endfor %}

                    {% if page.locale == "en" %}
                        <li>
                            <a class="page-scroll" id="language-chooser" title="Cambia a idioma español" href="{{site.baseurl}}es">{{ t.header_es_lang }}</a>
                        </li>
                    {% endif %}
                    {% if page.locale == "es" %}
                        <li>
                            <a class="page-scroll" id="language-chooser" title="Switch to English" href="{{site.baseurl}}">{{ t.header_en_lang }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>