    <div id="cd-vertical-nav">
        <ul>
            <li>
                <a href="#header-top" data-number="1">
                    <span class="cd-dot"></span>
                </a>
            </li>
            <li>
                <a href="#portfolio" data-number="2">
                    <span class="cd-dot"></span>
                </a>
            </li>
            <li>
                <a href="#team" data-number="3">
                    <span class="cd-dot"></span>
                </a>
            </li>
            <li>
                <a href="#contact" data-number="4">
                    <span class="cd-dot"></span>
                </a>
            </li>
            <!-- other navigation items here-->
        </ul>
    </div>