
<section id="portfolio" class="bg-light-gray cd-section">
    <div class="grid">
      <div class="grid-sizer"></div>

      {% for post in site.posts reversed %}
          <div class="{{ post.classes }}">
                <a href="#{% if post.slider-enable == true %}{{ post.slider-id }}{% endif %}" class="portfolio-link" data-toggle="modal"> 
                
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <h4>{{ post.title }}</h4>
                            <h5>{{ post.subtitle }}</h5>
                        </div>
                    </div>
                    <img src="{{site.full_url}}img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                </a> 
          </div>
      {% endfor %}

    </div>
</section>