<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="{{site.full_url}}img/team/{{ member.id }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        {% if member.id == 1 %}
                            <p class="text-muted">{{ t.team_desc_1 }}</p>
                        {% else %}
                            <p class="text-muted">{{ t.team_desc_2 }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>