<!-- Team Section -->
    <section id="team" class="bg-light-gray cd-section">
        <div class="container">
            <div class="row ">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{site.full_url}}img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Santiago Uriarte</h4>
                        <hr class="border-line"/>
                        <p class="text-muted">{{ t.team_desc_1 }}</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{site.full_url}}img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Esteban Polito</h4>
                        <hr class="border-line"/>
                        <p class="text-muted">{{ t.team_desc_2 }}</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </section>